<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Flask Thing</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bulma.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bulma-calendar.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>

  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column is-6">

            <form id="tasker">

              <input id="task-calendar" name="time" class="input" type="datetime" data-display-mode="inline">

              <div class="field">
                <div class="control">
                  <input class="input" name="task" type="text" placeholder="TASK" required>
                </div>
              </div>

              <div class="field">
                <div class="control is-expanded">
                  <button class="button is-fullwidth is-black" type="submit">GO</button>
                </div>
              </div>
            </form>

          </div>
          <div class="column is-6">
            <div id="tasks"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script type=text/javascript src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='js/bulma-calendar.min.js') }}"></script>
  <script type=text/javascript src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
  <script type=text/javascript src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</body>


</html>
